body{
    background-color: slateblue ;
}

div{
background-color: whitesmoke ;
width: 300px;
margin: 50px auto;
padding: 30px 50px ;
border-radius: 8px;


}
h1{
    text-align: center;
    color: indigo;
}

label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
input{
    display: block;
    width: 100%;
    padding: 5px;

}
button{
margin: 10px;
width: 100%;
padding: 10px;
background-color: indigo;
color: white;
border-radius: 8px;
font-size: 16px;

}
img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px;

}